<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<array>
		<string>http://img2.imgtn.bdimg.com/it/u=2199180302,1055708820&amp;fm=21&amp;gp=0.jpg</string>
		<string>http://img2.imgtn.bdimg.com/it/u=3042410010,1849246464&amp;fm=21&amp;gp=0.jpg</string>
		<string>http://img1.imgtn.bdimg.com/it/u=2783552916,508796275&amp;fm=21&amp;gp=0.jpg</string>
		<string>http://img2.imgtn.bdimg.com/it/u=862868179,785881333&amp;fm=21&amp;gp=0.jpg</string>
		<string>http://img3.imgtn.bdimg.com/it/u=3371032114,892333757&amp;fm=21&amp;gp=0.jpg</string>
		<string>http://img5.imgtn.bdimg.com/it/u=3658159165,4286511134&amp;fm=21&amp;gp=0.jpg</string>
	</array>
</dict>
</plist>
